/* Use SASS (http://sass-lang.com/) here */
/***********VARIABLES************/

/* Colors */
$blue: #33B5E5;
$red: #FF4444;
$green: #99CC00;
$purple: #AA66CC;
$orange: #FFBB33;
$light-grey: #eeeeee;
$dark-grey: #aaa;
$grey: #c5c5c5;
$dark-red: #CC0000;
$dark-blue: #0099CC;
$dark-orange: #FF8800;
$dark-green: #669900;
$dark-purple: #9933CC;

/* Sizes */
$border-radius: 7px;

/************************************/
/**************MIXINS****************/
/************************************/

/* sets the radius for all vendor-prefixes (and unprefixed) */
@mixin border-radius($rad) {
  -webkit-border-radius: $rad;
  -moz-border-radius: $rad;
  border-radius: $rad;
}

/* sets the border of the nodes */
@mixin node-border($color) {
  @include border-radius($border-radius);
  border: 2px solid $color;
}

/* all clickable elements */
@mixin clickable {
  &:hover {
    cursor: pointer;
    background-color: $grey;
  }
}

@mixin opacity($ammount) {
  opacity: $ammount;
  filter: alpha(opacity=$ammount*100);
}

/************************************/
/**************General***************/
/************************************/

#mindmap {
  position: absolute;
  top: 89px;

  svg, .rvml {
    z-index: 3;
  }
}

body {
  padding: 0;
  font-family: Verdana, sans-serif;
  font-size: 12px;
}

ul {
  padding-left: 10px;
}

input[type=text] {
  @include border-radius($border-radius);
  border: 1px solid $grey;
  padding: {
    left: 2px;
    top: 2px;
    bottom: 2px;
  }
  margin: {
    left: 5px;
    right: 5px;
  }
}

input[type=button] {
  background-color: $light-grey;
  @include border-radius($border-radius);
  padding-left: 15px !important;
  padding-right: 15px !important;
  margin: {
    left: 5px;
    right: 5px;
  }
  height: 32px;
  border: 1px solid $light-grey;
  @include clickable;

  &:hover {
    background-color: $dark-grey;
  }
}

.right {
  float: right;
}

/* all clickable elements */
.clickable {
  @include clickable;
}

.hidden {
  display: none;
}

/************************************/
/*************Side panel*************/
/************************************/
#panels-container {
  max-width: 250px;
  position: absolute;
  top: 80px;
  right: 0;
  width: 200px;
  z-index: 10;
  display: none;

  .title {
    background: $light-grey;
    border-bottom: 1px solid $grey;
    @include border-radius($border-radius);
    margin: 0 -10px 0 -10px;
    font-size: 16px;
    height: 25px;
    text-align: center;
    padding: 5px;

    p {
      margin: 0;
    }
  }

  /* the bow with the legend and the admin panel*/
  #panels {
    width: 100%;
    display: block;
    float: right;
    overflow: hidden;

    .panel {
      margin: 10px;
      margin-left: 0;
      background: white;
      border: 1px solid $grey;
      @include border-radius($border-radius);
      padding: 0 10px 0 10px;
      position: relative;
    }

    /* the admin panel */
    #admin {
      font-size: 0.8em;

      p {
        margin-bottom: 3px;
      }

      .provider {
        font-size: 1.25em;
      }

      .admin-slider {
        margin-top: 3px;
      }

      input[type=button] {
        margin: 5px;
      }
    }

    /* the legend */
    #legend {

      /* the items of the legend */
      .legend {
        margin: 10px;
        padding-left: 10px;
        text-align: center;
        position: relative;
      }
    }
  }
}

#hide-panels {
  display: inline-table;
  position: absolute;
  top: 95px;
  right: 0px;
  background: $light-grey;
  width: 30px;
  height: 30px;
  z-index: 8;
  text-align: center;
  @include border-radius($border-radius);
  -webkit-border-top-right-radius: 0px;
  -webkit-border-bottom-right-radius: 0px;
  -moz-border-radius-topright: 0px;
  -moz-border-radius-bottomright: 0px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  border: 1px $grey solid;
  vertical-align: middle;
  border-right: none;
}

/************************************/
/***************Top bar**************/
/************************************/

#search-bar {
  position: fixed;
  width: 100%;
  height: 50px;
  background: $light-grey;
  border-bottom: 1px solid $grey;
  top: 0;
  left: 0;
  z-index: 11;

  #code-name {
    width: 150px;
    height: 28px;
    margin-top: 10px;
    margin-left: 15px;
    padding-left: 15px;
    float: left;
  }

  #search-button {
    margin-left: 8px;
    margin-top: 16px;
    padding-top: 3px;
    float: left;
    @include clickable;
  }

  @mixin hide-arrow($width) {
    margin-left: 16px;
    margin-top: 10px;
    height: 32px !important;
    width: $width;
  }

  .lang-container {
    float: right;
    margin-right: 16px;
    @include hide-arrow(100px);
  }

  .mode-container {
    float: right;
    @include hide-arrow(110px);
  }

  .catalog-container {
    float: left;
    @include hide-arrow(140px);
  }

  @mixin select($width) {
    background: transparent;
    line-height: 1;
    border: 0;
    border-radius: 0;
    padding: 3px 5px 3px 15px;
    height: 25px;
    -webkit-appearance: none;
    width: $width;
  }

  #lang {
    float: right;
    @include select(125px);

  }

  #mode {
    float: right;
    @include select(135px);
  }

  #catalog {
    float: left;
    @include select(165px);
  }

  #location-container {
    height: 32px;
    min-width: 200px;
    max-width: 380px;
    @include border-radius($border-radius);
    border: 1px solid $grey;
    background: white;
    line-height: 28px;
    vertical-align: center;
    margin-top: 10px;
    float: left;
    margin-left: 16px;
    overflow: hidden;

    #location-inner {
      padding: 2px;
      padding-left: 5px;
      padding-right: 5px;
      height: 28px;
    }

    p {
      display: inline;
    }


    .location {
      max-width: 430px;
      font-size: 0.8em;
    }
  }




  .selectboxit-btn {
    background-color: white;
    border: 1px solid $grey;
  }

  .selectboxit-btn.selectboxit-enabled:hover,
  .selectboxit-btn.selectboxit-enabled:focus,
  .selectboxit-btn.selectboxit-enabled:active {
    color: black;
    background-color: $grey;
  }

  .selectboxit-btn.selectboxit-enabled:hover,
  .selectboxit-btn.selectboxit-enabled:focus {
    color: black;
    text-decoration: none;
    background-position: 0 -15px;
  }

  .selectboxit-default-arrow {
    width: 0;
    height: 0;
    border-top: 4px solid #000000;
    border-right: 4px solid transparent;
    border-left: 4px solid transparent;
  }

  .selectboxit-list {
    background-color: #ffffff;
    border: 1px solid white;
  }

  .selectboxit-list .selectboxit-option-anchor {
    color: black;
  }

  .selectboxit-list > .selectboxit-focus > .selectboxit-option-anchor {
    color: #ffffff;
    background-color: $dark-blue;
  }

  .selectboxit-list > .selectboxit-disabled > .selectboxit-option-anchor {
    color: $dark-grey;
  }

  .selectboxit-list{
    border: 1px solid $dark-grey;
  }

}

.globe {
  font-size: 1.5em;
  margin-right: 5px !important;
}

/********************************************/
/***********Nodes and Containers************/
/*******************************************/

/* nodes and legend items */
div.node, div.legend {
  background: $light-grey;
  padding-left: 15px;
  padding-right: 15px;
  max-width: 250px;
  word-wrap: break-word;
  position: absolute;
  text-align: center;
  z-index: 7;

  &.syn {
    @include node-border($dark-blue);
    text-align: left;
    max-height: 150px;
  }

  &.field {
    @include node-border($blue);

    .icon-user-md {
      font-size: 28px;
      margin: 0;
      background: transparent;
      float: right;
      line-height: 50px;
      vertical-align: middle;
      margin-left: 5px;
      padding-left: 5px;
    }

    .content {
      float: left;
      max-width: 160px;
    }
  }

  &.drg {
    @include node-border($red);
  }

  &.exclusiva {
    @include node-border($green);
  }

  &.inclusiva {
    @include node-border($orange);
  }

  &.super {
    @include node-border($dark-green);
  }

  &.sub {
    @include node-border($purple);
  }

  &.root {
    background: $light-grey;
    @include node-border($grey);
    @include border-radius($border-radius);
    font-size: 20px;
    z-index: 10;
    max-width: 300px;
    min-width: 200px;
    min-height: 100px;
    display: table-cell;
    vertical-align: middle;

  }
}

div.node {
  &.syn {
    overflow-y: auto;
  }
}

.relatedness-container {
  width: 100px;
  height: 5px;
  border: $dark-blue 1px solid;
  margin: 6px auto 6px auto;
  background: white;
}

.relatedness-display {
  background: $blue;
  height: 100%;
  left: 0;
  float: left;
}

/* containers */
div.container {
  position: absolute;
  z-index: 2;
  @include border-radius($border-radius);


  &.syn {
    @include opacity(0.3);
    background: lighten($dark-blue, 30%);
    &.active {
      @include opacity(1);
    }
  }

  &.field {
    @include opacity(0.3);
    background: lighten($blue, 30%);
    &.active {
      @include opacity(1);
    }
  }

  &.drg {
    @include opacity(0.5);
    background: lighten($red, 30%);
    &.active {
      @include opacity(1);
    }
  }

  &.inclusiva-exclusiva {
    @include opacity(0.5);
    background: lighten($orange, 30%);

    .incl {
      color: darken($orange, 20%);
    }

    .excl {
      color: darken($green, 0%);
    }

    &.active {
      @include opacity(1);
    }
  }

  &.super {
    @include opacity(0.3);
    background: lighten($dark-green, 50%);
    &.active {
      @include opacity(1);
    }
  }

  &.sub {
    @include opacity(0.5);
    background: lighten($purple, 30%);
    &.active {
      @include opacity(1);
    }
  }

  .container-inner {
    position: relative;
    width: 100%;
    height: 100%;
    p {
      @include opacity(0.5);
      padding: 2px;
      position: absolute;
      margin: 0;

      //bottom-right
      &.syn {
        bottom: 0;
        left: 0;
      }

      //top-left
      &.field {
        top: 0;
        left: 0;
      }

      //top-middle
      &.drg {
        bottom: 0;
        right: 5px;
      }

      //bottom-middle
      &.inclusiva-exclusiva {
        bottom: 0;
        right: 5px;
      }

      //top-right
      &.super {
        top: 0;
        left: 0;
      }

      //right-middle
      &.sub {
        top: 0;
        right: 5px;
      }

      &.show-type {
        font-size: 20px;
      }

    }
  }
}
.front-container {
  z-index: 4;
  position: absolute;
}

/************************************/
/**************Overlay***************/
/************************************/
.docOverlay, #location-popup {
  height: 100%;
  width: 100%;

  .location p {
    position: relative;
    display: inline;
    height: 30px;
    line-height: 30px;
    vertical-align: middle;
    margin: 0;
  }

  h3 {
    margin-left: 5px;
  }

  #map {
    float: right;
    display: inline;
    width: 60%;
    height: 85%;
  }

  #location-map {
    float: left;
    display: inline;
    width: 700px;
    height: 500px;
  }

  #docHeader {
    height: 10%;
  }

  #docTitle {
    font-size: 1.8em;
    font-weight: bold;
    display: inline;
  }
  #docList {
    float: left;
    display: inline;
    width: 40%;
    height: 85%;
    overflow: scroll;
    overflow-x: hidden;

    /* the label for the input behind the doc list */
    label {
      display: inline-block;
      background-color: $light-grey;
      padding: 4px 11px;
      width: 100%;
      position: relative;
      min-height: 100px;

      .doc{
        float: right;
        width: 90%;
        display: inline;
      }

      .doc-number{
        position: relative;
        display: inline;
        border-right: black 1px solid;
        height: 100%;
        width: 8%;
        float: left;
        line-height: 100px;
        vertical-align: middle;
        font-size: 20px;
      }

      &:hover {
        background-color: $dark-grey !important;
        color: white !important;
      }
    }


    /* the input element behind the doctor list */
    input[type="radio"] {
      display: none;

      &:checked + label {
        background-color: $grey;
      }

      .active:after {
        content: url(arrow.png);
        position: absolute;
        top: 50%;
        left: 100%;
        margin: 10px;
      }
    }
  }
}

#center-button {
  float: right;
  @include clickable;
}

#location-input {
  height: 25px;
}

/************************************/
/***********Bread Crumbs*************/
/************************************/

#breadcrumb {
  position: fixed;
  top: 50px;
  height: 30px;
  width: 100%;
  background: $light-grey;
  left: 0;
  border-bottom: 1px solid $grey;

  a:visited {
    text-decoration: none;
    color: black;
  }

  ul {
    margin: 0px !important;
  }

  li {
    display: inline;
    border-right: none;
    background: url(/assets/separator.gif) no-repeat right center;
    padding-right: 15px;
    padding-left: 10px;
    line-height: 30px;
    vertical-align: middle;

    &.last {
      background: none;
    }

    &:hover {
      text-decoration: underline;
      cursor: pointer;
    }
  }
}
