<!DOCTYPE html>
<html>
    <head>
        <title>OrangeProton</title>
        <%= stylesheet_link_tag    "application", :media => "all" %>
        <%= javascript_include_tag "application" %>
        <%= csrf_meta_tags %>
        <script type="text/javascript" src="https://raw.github.com/LukasSkywalker/js-helpers/master/arrayHelpers.js"></script>
        <script type="text/javascript" src="https://raw.github.com/DmitryBaranovskiy/raphael/master/raphael-min.js"></script>
        <script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?sensor=false"></script>
    </head>
    <body>
        <div id="search-bar">
            <input id="code-name" type="text" placeholder="ICD Code">
            <input type="button" id="search-button" value="Suchen" onclick="mindmapper.sendRequest($('#code-name').val().toUpperCase(), $('#lang').val());">
            <div class="hide-arrow">
              <select name="lang" id="lang" size="1">
                    <option value="de">Deutsch</option>
                    <option value="fr">Français</option>
                    <option value="it">Italiano</option>
                    <option value="en">English</option>
                </select>
            </div>
        </div>
        <div id="legend"></div>
        <div id="mindmap"></div>
        <div id="admin"></div>
    </body>
</html>
