<div id="code"><input id="code-name" type="text" placeholder="ICD Code"></div>
<div class="legend" style="margin: 10px">
  <div class="syn">Synonyme</div>
  <div class="cat">Fachrichtung</div>
  <div class="doc">Doktor A</div>
  <div class="super">Oberklasse</div>
  <div class="drg">DRG</div>
  <div class="exclusiva">Exklusiva</div>
  <div class="inclusiva">Inklusiva</div>
</div>
