<!DOCTYPE html>
<html>
    <head>
        <title>OrangeProton</title>
        <%= stylesheet_link_tag    "application", :media => "all" %>
        <script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?sensor=false&key=AIzaSyAjPl4yzI4xYU9yw2GgptYV547pFo3ounE"></script>
        <%= javascript_include_tag "application" %>
        <%= csrf_meta_tags %>
    </head>
    <body>
        <div id="search-bar">
            <input id="code-name" type="text" placeholder="ICD Code">
            <p id="search-button" class="icon-search icon-large clickable"></p>
            <div id="location-container">
                <p id="location" class="icon-globe"></p>
                <p id="location-config" class="icon-cogs clickable"></p>
            </div>
            <div class="hide-arrow">
                <select name="lang" id="lang" size="1">
                    <option value="de">Deutsch</option>
                    <option value="fr">Français</option>
                    <option value="it">Italiano</option>
                    <option value="en">English</option>
                </select>
            </div>
        </div>
        <div id="panels">
          <div id="legend">
            <div id="legend-title" class="title clickable"></div>
            <div id="legend-text"></div>
          </div>
          <div id="admin">
            <div id="admin-title" class="title clickable"><p>Admin panel</p></div>
            <div id="admin-text"></div>
          </div>
        </div>
        <div id="mindmap"></div>

    </body>
</html>
