<div id="code"><input id="code-name" type="text" placeholder="ICD Code"></div>
<div id="legend">
  <h1>Legende</h1>
  <div class="syn legend">Synonyme</div>
  <div class="cat legend">Fachrichtung</div>
  <div class="doc legend">Doktor A</div>
  <div class="super legend">Oberklasse</div>
  <div class="drg legend">DRG</div>
  <div class="exclusiva legend">Exklusiva</div>
  <div class="inclusiva legend">Inklusiva</div>
</div>