<!DOCTYPE html>
<html>
    <head>
        <title>OrangeProton</title>
        <!--[if lt IE 9]>
          <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->
        <%= stylesheet_link_tag "application-all", :media => "all" %>
        <!--[if IE 7]>
          <%= stylesheet_link_tag "application-ie", :media => "all" %>
        <![endif]-->
        <%= csrf_meta_tags %>
    </head>
    <body>
        <div id="search-bar">
            <input id="code-name" type="text" placeholder="Code">
            <p id="search-button" class="icon-search icon-large clickable"></p>
            <div class="catalog-arrow">
                <select name="catalog" id="catalog" size="1">
                    <option value="icd_2010_ch">ICD 2010 CH</option>
                    <option value="icd_2012_ch" selected="selected">ICD 2012 CH</option>
                    <option value="chop_2012_ch">CHOP 2012 CH</option>
                    <option value="chop_2013_ch">CHOP 2013 CH</option>
                </select>
            </div>
            <div id="location-container">
              <div id="location-inner" class="clickable">
                <p class="location"></p>
              </div>
            </div>
            <div class="lang-arrow">
                <select name="lang" id="lang" size="1">
                    <option value="de">Deutsch</option>
                    <option value="fr">Français</option>
                    <option value="it">Italiano</option>
                    <option value="en">English</option>
                </select>
            </div>
            <div class="mode-arrow">
              <select name="mode" id="mode" size="1">
                <option value="sd">Standard</option>
                <option value="ad" selected="selected">Advanced</option> <!-- While development, this is selected. Remove when deploying -->
              </select>
            </div>
        </div>
        <div id="breadcrumb">
            <ul id="bread-crumbs">
              <li><a href="/" class="icon-home" style="font-size: 16px"></a></li>
            </ul>
        </div>

        <div id="hide-panels" class="clickable"><h3>?</h3></div>
        <div id="panels-container">
            <div id="panels">
              <div id="legend" class="panel">
                <div id="legend-title" class="title"></div>
                <div id="legend-text"></div>
              </div>
              <div id="info" class="panel">
                <div id="info-title" class="title"></div>
                <div id="info-text"></div>
              </div>
              <div id="admin" class="panel">
                <div id="admin-title" class="title"><p>Admin panel</p></div>
                <div id="admin-text"></div>
              </div>
            </div>
        </div>
        <div id="mindmap"></div>
        <script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?sensor=false&key=AIzaSyAjPl4yzI4xYU9yw2GgptYV547pFo3ounE"></script>
        <%= javascript_include_tag "application" %>
    </body>
</html>
