body {
  background:#fff;
}
.js-mindmap-active div.node {
  background:#f5f5f5;
  border: 2px solid #e3e3e3;
  -webkit-border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
}
.js-mindmap-active div.node.active {
  padding:5px 10px !important;
  border-width:5px !important;
}
.js-mindmap-active div.node.activeparent {
  padding:5px 10px !important;
  border-width:5px !important;
  background:#cccccc;
}
.code-field{
 border: none;
 background: none;
}