body {
    background: #fff;
}

.js-mindmap-active div.node {
    /*background:#f5f5f5;
    border: 2px solid #e3e3e3;
    -webkit-border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;*/
}

div.node div {
    /*-webkit-border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;*/
    background: #eee;
    padding-left: 15px;
    padding-right: 15px;
    margin: 5px;
}

.js-mindmap-active div.node.active {
    padding: 5px 10px !important;
    border-width: 5px !important;
}

.js-mindmap-active div.node.activeparent {
    padding: 5px 10px !important;
    border-width: 5px !important;
    background: #cccccc;
}

.code-field {
    border: none;
    background: none;
}

.syn {
    border-radius: 20px;
    background: #eee;
    border: 2px solid black;
}

.cat {
    border-radius: 20px;
    border: 3px double blue;
}

.drg {
    border-radius: 20px;
    border: 2px dashed red;
}

.exclusiva {
    border-radius: 20px;
    border: 2px dotted green;
}

.inclusiva {
    border-radius: 20px;
    border: 2px solid yellow;
}

.super {
    border: 2px solid gray;
}

.legend {
    margin: 10px;
}

#legend {
    width: 200px;
    margin: 10px;
    border: 1px solid black;
    padding: 10px;
    right: 0px;
    position: absolute;
}

h1{
    margin-top: 5px;
}
